@model IEnumerable<HomeCareObjects.Model.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documents</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
<p>
    <a asp-action="Create"><input type="button" value="Create Document" class="btn btn-outline-primary" /></a>
    <a asp-controller="ServiceRequests" asp-action="Index"><input type="button" value="Back" class="btn btn-danger" /></a>
</p>


@if (Model.Count() == 0)
{
    <caption>No Records Found</caption>
}else{
    <table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
                <th scope="col">
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
                <th scope="col">
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
                <th scope="col">
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>

                <th scope="col">
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Request.Customer)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Request.RequestId)
            </td>
            <td> @Html.DisplayFor(modelItem => item.Request.Customer.FullName)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
