@model IEnumerable<HomeCareObjects.Model.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
@if(User.IsInRole("Admin") || User.IsInRole("Manager")){
    <p>
        <a asp-action="Create"><input type="button" value="Create Service" class="btn btn-outline-primary" /></a>
    </p>
}
@if (Model.Count() == 0)
{
    <caption>No Records Found</caption>
}
else{
 <text>Search using Serice Name:</text>
<form asp-asp-controller="Services" asp-action="Index" method="get">
    <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />

    Filter Using Category:
    <select name="SearchCategory" asp-items="ViewBag.catList">
        <option value="">All</option>
    </select>

    <input type="submit" value="Search" class="btn- btn-secondary mx-2" />
    <a asp-asp-controller="Services" asp-action="Index" class="btn btn-outline-danger">
        Clear
    </a>
</form>
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class ="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.Email)
            </td>
            <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager")){
                        <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a>

                    } |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
}