@model IEnumerable<HomeCareObjects.Model.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="ServiceRequests" asp-action="Index">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            @if(User.IsInRole("User")){
                <th>@Html.DisplayNameFor(model => model.Request.Customer)</th>
            }
            else if (User.IsInRole("Technician"))
            {
                <th>@Html.DisplayNameFor(model => model.Request.TechnicianId)</th>
                
            }
            else if (User.IsInRole("Manager")){

                <th>@Html.DisplayNameFor(model => model.Request.Service.Category.ManagerId)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.RequestId)
            </td>
                @if (User.IsInRole("User"))
                    {
                    <td>@Html.DisplayFor(modelItem => item.Request.Customer.FullName)</td>
                    }
                    else if (User.IsInRole("Technician"))
                    {
                    <td>@Html.DisplayFor(modelItem => item.Request.Technician.FullName)</td>

                    }
                    else if (User.IsInRole("Manager"))
                    {

                    <td>@Html.DisplayFor(modelItem => item.Request.Service.Category.Manager.FullName)</td>
                    }
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
