@model IEnumerable<HomeCareObjects.Model.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
<p>
    <a asp-action="Create"><input type="button" value="Create Comment" class="btn btn-outline-primary" /></a>
    <a asp-controller="ServiceRequests" asp-action="Index"><input type="button" value="Back" class="btn btn-danger" /></a>
</p>

@if (Model.Count() == 0)
{
    <caption>No Records Found</caption>
}
else{
    <table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
                <th scope="col">
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
                <th scope="col">
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
                <th scope="col">
                @Html.DisplayNameFor(model => model.Request.RequestId)
            </th>
            
                <th>@Html.DisplayNameFor(model => model.Request.Customer) Name</th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.RequestId)
            </td>
                
                    <td>@Html.DisplayFor(modelItem => item.Request.Customer.FullName)</td>
                    
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
