@model IEnumerable<HomeCareObjects.Model.ServiceRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Requests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-asp-controller="ServiceRequests" asp-action="Index" method="get">
    <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />
    <input type="submit" value="Search" class="btn- btn-secondary mx-2" />
    <a asp-asp-controller="ServiceRequests" asp-action="Index" class="btn btn-outline-danger">
        Clear
    </a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
              


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateNeeded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
                    </td>
                </tr>
             
         } 
    </tbody>
</table>
