@model IEnumerable<HomeCareObjects.Model.ServiceRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Requests</h1>
@if (User.IsInRole("User"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@if (Model.Count() == 0)
{
    <caption>No Records Found</caption>
}
else{
<text>Search using Request Description:</text>
<form asp-asp-controller="ServiceRequests" asp-action="Index" method="get">
    <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />
    <input type="submit" value="Search" class="btn- btn-secondary mx-2" />
    <a asp-asp-controller="ServiceRequests" asp-action="Index" class="btn btn-outline-danger">
        Clear
    </a>
    <a asp-area="" asp-controller="Comments" asp-action="Index"><input type="button" value="View Comments"/></a>
    <a asp-area="" asp-controller="Documents" asp-action="Index"><input type="button" value="View Files" /></a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RequestId)</th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(model => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                @if(item.TechnicianId != null){
                @Html.DisplayFor(modelItem => item.Technician.FullName)
                }else{
                    <text>TBA</text>
                }
            </td>
                <td>
                    @{
                        string statusClass = "";
                        switch (item.RequestStatus)
                        {
                            case 1:
                                statusClass = "text-warning";
                                break;
                            case 2:
                                statusClass = "text-primary";
                                break;
                            case 3:
                                statusClass = "text-success";
                                break;
                            case 4:
                                statusClass = "text-danger";
                                break;
                            default:
                                statusClass = "text-muted";
                                break;
                        }
                    }
                    <span class="@statusClass">
                        @{
                            switch (item.RequestStatus)
                            {
                                case 1:
                                    <text>Pending</text>
                                    break;
                                case 2:
                                    <text>Active</text>
                                    break;
                                case 3:
                                    <text>Completed</text>
                                    break;
                                case 4:
                                    <text>Canceled</text>
                                    break;
                                default:
                                    <text>Unknown</text>
                                    break;
                            }
                        }
                    </span>
                </td>
                <td>
                    @if(item.RequestStatus != 3 && item.RequestStatus != 4)
                    {
                        <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a>
                        if(User.IsInRole("Manager")){
                    <a asp-action="Delete" asp-route-id = "@item.RequestId">Cancel</a>
                        }
                        }
            </td>
        </tr>
}
    </tbody>
</table>
}
