@model IEnumerable<HomeCareObjects.Model.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if(User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>
}
Search using Category Name:
<form asp-asp-controller="Categories" asp-action="Index" method="get">
    <input type="text" name="SearchString" value="@Context.Request.Query["SearchString"].ToString()" />
    <input type="submit" value="Search"  class="btn- btn-secondary mx-2" />
    <a asp-asp-controller="Categories" asp-action="Index" class="btn btn-outline-danger">
        Clear
    </a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Email)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> 
                    }
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
